# STM32CubeIDE build output
**/Debug/
**/Release/

# Compiled files
*.o
*.d
*.su
*.cyclo
*.elf
*.hex
*.bin
*.map
*.list

# Generated makefiles
**/makefile
**/objects.list
**/objects.mk
**/sources.mk
**/subdir.mk

# Eclipse workspace
.metadata/

# Windows
Thumbs.db
desktop.ini
